<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <title><%- page %> &bullet; <%= tag %></title>
  </head>
  <body>
    <%- include("partials/nav") %>
    <main></main>
    <%- include("partials/foot") %>
  </body>
</html>
